<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
    <br>
    <div class='container'>
        <h1>Task Recommendations</h1>

        <table class='table'>
            <thead>
                <tr>
                    <th scope="col">Task Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.taskname }}</td>
                        <td>{{ task.category }}</td>
                        <td>{{ task.startdate }}</td>
                        <td>{{ task.duedate }}</td>
                        <td>{{ task.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content %}

